{% extends 'healthwebsite/base.html' %}
{% load static %}
{% block content %}

<div class="parallax-section">
	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container top-header-container">
				<a class="navbar-brand" href="index.html"><img src="{% static 'healthapp/images/ajlogo.png'%}"
						alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link active" href="#home">Home</a></li>
						<li><a class="nav-link" href="#services">Services</a></li>
						<li><a class="nav-link " href="#about">About Us


							</a>
							<ul class="dropdown">
								<li><a class="dropdown-item" href="#about"> Who we are</a></li>
								<li><a class="dropdown-item" href="#mission"> Our mission & Vision </a></li>
								<li><a class="dropdown-item" href="#team"> Our Team </a></li>
							</ul>
						</li>
						<li><a class="nav-link" href="#gallery">Gallery</a></li>
						<li><a class="nav-link" href="#projects">Projects</a></li>
						<li><a class="nav-link" href="#contact">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	<div class="row banner-section">
		<div class="col-md-12">
			<span>Connecting People For Better Healthcare</span>
			<p>Get ahead with the expertise and be a part of the change</p>
		</div>
		<div class="button-flex">
			<a href="#contact">JOIN AS INVESTOR</a>
			<a href="#contact">JOIN AS EXPERT</a>
		</div>

	</div>


	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details text-center">
								<h1>500 Beds of tertiary care</h1>
							</div>
						</div>
					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>50 Primary care centers</h1>
							</div>
						</div>

					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>20 Secondary care centers</h1>
							</div>
						</div>
					</div>




					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">

								<h1>50 Pharmacies</h1>
								</li>

							</div>
						</div>
					</div>


					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details text-center">
								<h1> 2 long term care and rehabilitation centers</h1>
							</div>
						</div>
					</div>


					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>1 Home nursing care</h1>
							</div>
						</div>

					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>More than 5000 Employees</h1>
							</div>
						</div>
					</div>


					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>More Than 15000 Patients to be treated daily</h1>
							</div>
						</div>
					</div>




					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">

								<h1>Partnership with top physicians in Kashmir</h1>
							</div>
						</div>
					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Bring together local and overseas physicians for better patient care,</h1>

							</div>
						</div>
					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Robust business processes based on clinical and process quality with system thinking
									approach</h1>

							</div>
						</div>
					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">

								<h1>Strong financial and quality measurement system</h1>
							</div>
						</div>
					</div>

					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">

								<h1>&#8377; &nbsp;Activity based costing to price services based on cost incurred with
									10% - 15% EBIDTA </h1>
							</div>
						</div>
					</div>


					<div class="pogoSlider-slide" data-transition="fade" data-duration="500">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">

								<h1> Repeated &amp; robust training and skills
									development programs</h1>
							</div>
						</div>
					</div>
				</div>
			</div><!-- .pogoSlider -->
		</div>
	</div>
	<!-- End Banner -->
</div>
<!--parralel ends here-->


<!-- service carousel Starts Here -->
<section id="services">
	<div class="main-banner header-text">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<br>
					<div class="title-box ">
						<h2>WHAT WE DO</h2>
						<p class="main-banner-title">A First Leading Healthcare Provider Firm in Kashmir Dedicated to Creating Platform for Better
							Healthcare</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="card">
						<img src="{% static 'healthapp/images/blog-img-01.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="title">Design and Construction Management</h3>
							<p class="card-text">We believe in developing hospital designs, which help in the healing
								process keeping in view
								lean thinking with patient flow and infection control practices. We design and redesign
								healthcare spaces based on your ideas and international standards.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="card">
						<img src="{% static 'healthapp/images/blog-img-02.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="title">Operations and Management Services</h3>
							<p class="card-text">Our team evaluates the current status of the hospital in terms of revenue,
								expenses,
								productivity, performance gaps, and business processes. Based on the findings we send our
								team not only to improve overall performance but also do the knowledge transfers.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="card">
						<img src="{% static 'healthapp/images/blog-img-03.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="title">Healthcare Business Consulting</h3>
							<p class="card-text">We study your project from all the aspects and devise strategies to
								maximize facility’s
								operational efficiency and profit margins. During our consultation we don’t tell you what to
								do but show you how to achieve excellence with optimal utilization of resources.</p>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="card">
						<img src="{% static 'healthapp/images/blog-img-01.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="title">Turn-key Projects</h3>
							<p class="card-text">AJ-Healthcare delivers your turnkey project on time, on budget, and meet
								all stakeholder
								expectations. Our experts all over the globe shall ensure that your new facility is both at
								the forefront of regional best practice and is proofed for future challenges, risks and
								considerations</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="card">
						<img src="{% static 'healthapp/images/blog-img-01.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="title">Hospital Planning</h3>
							<p class="card-text">From concept to operational management we commit to work hand in hand to
								develop a
								healthcare facility that fits all your needs. We support you at every level and complete the
								full cycle from , DPR & market intelligence, construction, MEP, man-power
								planning, commissioning, and operations</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="card">
						<img src="{% static 'healthapp/images/blog-img-01.jpg' %}" class="card-img-top" alt="...">
						<div class="card-body">
							<h3 class="title">AJ Investments</h3>
							<p class="card-text">The main purpose of AJ-Healthcare is to connect people from different walks
								of life for
								better patient care. We are confident to provide you with successful business investment
								model in healthcare with guaranteed return on investment. Get ahead and invest with us as an
								expert or monetarily</p>
						</div>
					</div>
				</div>
	
			</div>
			<br>
		</div>
	</div>
	<!-- carousal ends Here -->
	
	
</section>



<!-- Start About us -->
<div id="about" class="about-box">
	<div class="about-a1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>About Us</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="row align-items-center about-main-info">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<h2> WHO WE ARE </h2>
							<p>

							<p>We, a group of healthcare experts across the globe have teamed up to build sustainable,
								affordable, and standard of care, healthcare system in our community. The main purpose
								of AJ healthcare is to bring together healthcare experts to transform the future of
								healthcare across the entire continuum of care from primary care to tertiary care to
								after care.
								The combined strength is our team forms the core strength of an organization. Our
								diverse team is committed to achieving the mission and vision with utmost passion and
								attention to detail.<br>
								AJ team members have a proven track record of commissioning specialty clinics and
								hospitals across the globe as per Joint commissions international standards. Our team
								provides vast experience in different domains of healthcare like medical operations,
								quality, commissioning, improving business operations & P&L. <br>
								We believe that good healthcare management is rooted in effective processes, emotional
								intelligence, expert knowledge, and a strong understanding of and respect for local
								cultures.
							</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="about-m">
								<ul id="banner">
									<li>
										<img src="{% static 'healthapp/images/about-img-01.jpg' %}" alt="">
									</li>
									<li>
										<img src="{% static 'healthapp/images/about-img-02.jpg' %}" alt="">
									</li>
									<li>
										<img src="{% static 'healthapp/images/about-img-03.jpg' %}" alt="">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End About us -->

<!--mission vision -->
<div class="our-mission-section" id="mission">



	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Our Mission and Vision </h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="item col-lg-6">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-bullseye" aria-hidden="true"></i></div>
						<h3 class="title">OUR MISSION</h3>
						<p class="description">
							Build standard, sustainable, and affordable healthcare system that provides STEEEP
							(safe, timely, equitable, efficient, effective and person centered) healthcare to
							the people of Kashmir.
						</p>
					</div>
				</div>
				<div class="item col-lg-6">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-binoculars" aria-hidden="true"></i></div>
						<h3 class="title">OUR VISION</h3>
						<p class="description">
							To be the best healthcare system in the region.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<br>
					<div class="title-box">
						<h2>Our Values </h2>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="item item-margin col-lg-4">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></div>
						<h3 class="title">Service</h3>
						<p class="description">
							We strive to anticipate and meet the needs of our patients, physicians and
							co-workers
						</p>
					</div>
				</div>
				<div class="item item-margin col-lg-4">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-flask" aria-hidden="true"></i></div>
						<h3 class="title">Innovation</h3>
						<p class="description">
							We embrace change and work to improve all we do in a fiscally responsible manner.
						</p>
					</div>
				</div>
				<div class="item item-margin col-lg-4">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-heartbeat" aria-hidden="true"></i></div>
						<h3 class="title">Integrity</h3>
						<p class="description">
							We communicate openly and honestly, build trust and conduct ourselves according to
							the highest ethical standards
						</p>
					</div>
				</div>
				<div class="item item-margin col-lg-4">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
						<h3 class="title">Respect</h3>
						<p class="description">
							We treat each individual, those we serve and those with whom we work, with the
							highest professionalism and dignity
						</p>
					</div>
				</div>
				<div class="item item-margin col-lg-4">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
						<h3 class="title">Patient First</h3>
						<p class="description">
							We strive to deliver the best care to every patient every day. The patient is the
							first priority in everything we do.
						</p>
					</div>
				</div>
				<div class="item item-margin col-lg-4">
					<div class="serviceBox">
						<div class="service-icon"><i class="fa fa-user-md" aria-hidden="true"></i></div>
						<h3 class="title">Team Work</h3>
						<p class="description">
							System effectiveness is built on the collective strength and cultural diversity of
							everyone, working with open communication and mutual respect.
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Services -->
</div>





<!-- Start Team -->
<div id="team" class="team-box">
	<div class="container">
		<div class="title-box">
			<h2>KNOW YOUR TEAM</h2>
			<p>Our Experts Know Healthcare </p>
		</div>
		<div class="row">
			<div class="popup-team container-fluid">
				<div class="row">
					<div class="col-12 col-md-6 mt-3">
						<div class="card">
							<div class="card-horizontal">
								<div class="img-square-wrapper">
									<img class="" src="{% static 'healthapp/images/doc1.png' %}" alt="Card image cap">
								</div>
								<div class="card-body">
									<h4 class="card-title">Dr. Bilal Ahmad</h4>
									<p class="card-text">CEO & Managing Partner</p>
									<br>
									<br>
									<br>
									<br>
									<a class="readmore" href="{% static 'healthapp/images/b-b.png' %}">&gt; Read
										More</a>
								</div>
							</div>

						</div>
					</div>


					<div class="col-12 col-md-6 mt-3">
						<div class="card">
							<div class="card-horizontal">
								<div class="img-square-wrapper">
									<img class="" src="{% static 'healthapp/images/doc2.png' %}" alt="Card image cap">
								</div>
								<div class="card-body">
									<h4 class="card-title">Dr.Khalid Khuroo</h4>
									<p class="card-text">Director Healthcare Quality & Policies.</p>
									<br>
									<br>
									<br>
									<br>
									<a class="readmore" href="{% static 'healthapp/images/k-k.png' %}"> &gt; Read
										More</a>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<div class="col-12 col-md-6 mt-3">
						<div class="card">
							<div class="card-horizontal">

								<div class="card-body">
									<h4 class="card-title">Mr. Ibrahim Dar</h4>
									<p class="card-text">Pharmaceutical Division</p>
									<br>
									<br>
									<br>
									<br>
									<a class="readmore" href="{% static 'healthapp/images/i-d.png' %}"> &gt; Read
										More</a>
								</div>
								<div class="img-square-wrapper">
									<img class="" src="{% static 'healthapp/images/doc3.png' %}" alt="Card image cap">
								</div>
							</div>

						</div>
					</div>


					<div class="col-12 col-md-6 mt-3">
						<div class="card">
							<div class="card-horizontal">

								<div class="card-body">
									<h4 class="card-title">Dr Sayed Riyaz</h4>
									<p class="card-text">Director Medical Affairs</p>
									<br>
									<br>
									<br>
									<br>
									<a class="readmore" href="{% static 'healthapp/images/s-r.png' %}"> &gt; Read
										More</a>
								</div>
								<div class="img-square-wrapper">
									<img class="" src="{% static 'healthapp/images/doc4.png' %}" alt="Card image cap">
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 mt-3">
						<div class="card">
							<div class="card-horizontal">
								<div class="img-square-wrapper">
									<img class="" src="{% static 'healthapp/images/doc5.png' %}" alt="Card image cap">
								</div>
								<div class="card-body">
									<h4 class="card-title">Dr.Raj Suhail</h4>
									<p class="card-text">Co-Founder & Managing Partner.</p>

									<br>
									<br>
									<br>
									<br>
									<a class="readmore" href="{% static 'healthapp/images/r-s.png' %}"> &gt; Read
										More</a>
								</div>
							</div>
						</div>
					</div>






				</div>


			</div>

		</div>

	</div>
</div>

<!-- End Team -->


<!-- Start Gallery -->
<div id="gallery" class="gallery-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-box">
					<h2>Gallery</h2>
					<p>Our Products and services </p>
				</div>
			</div>
		</div>

		<div class="popup-gallery row clearfix">
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl1.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl1o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl2.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl2o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl3.png' %}" alt="">
					<div class="box-content">
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl3o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl6.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl6o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl7.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl7o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl8.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl8o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl9.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl9o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-gallery">
					<img src="{% static 'healthapp/images/gl10.png' %}" alt="">
					<div class="box-content">
						<h3 class="title">Gallery Image</h3>
						<ul class="icon">
							<li><a href="{% static 'healthapp/images/gl10o.jpg' %}"><i class="fa fa-picture-o"
										aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Gallery -->




<!--Start Facilities -->
<div class="facilities-section" id="projects">

	<div class="row">
		<div class="col-lg-12">
			<div class="title-box">
				<br>
				<h2>We are bringing the change</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3 mt-3">
				<div class="item blog_item facility-item">
					<img src="{% static 'healthapp/images/img3a.png' %}" alt="">
					<div class="item-content">
						<div class="main-content">
							<h3 class="title">40-bedded upcoming hospital</h3>
							<p class="description">
								AJ Healthcare is going to start state of art healthcare facility in compliance with
								robust clinical and business processes while following NABH and international
								standards
							</p>
						</div>
					</div>
				</div>

			</div>



			<div class="col-12 col-md-3 mt-3">
				<div class="item blog_item facility-item">
					<img src="{% static 'healthapp/images/hospital.jpeg' %}" alt="">
					<div class="item-content">
						<div class="main-content">
							<h3 class="title">Lifecare Medical Centrel</h3>
							<p class="description">
								We already have humble start with small polyclinic and pharmacy running in Hazratbal
								area providing primary healthcare services to people in surrounding area of
								Hazratbal
							</p>
							</p>
						</div>
					</div>
				</div>

			</div>



			<div class="col-12 col-md-3 mt-3">
				<div class="item blog_item facility-item">
					<img src="{% static 'healthapp/images/img1.jpg' %}" alt="">
					<div class="item-content">
						<div class="main-content">
							<h3 class="title">MindSPA by Isha Malik</h3>
							<p class="description">
								Keeping in mind the rising mental ailments in Kashmir, renowned physiologist Ms.
								Isha
								Malik has started the Psychology clinic under the banner of AJ Healthcare
							</p>
						</div>
					</div>
				</div>

			</div>


			<div class="col-12 col-md-3 mt-3">
				<div class="item blog_item facility-item">
					<img src="/static/healthapp/images/img2.png" alt="">
					<div class="item-content">
						<div class="main-content">
							<h3 class="title">Kashmir's First Online Pharmacy</h3>
							<p class="description">
								Our medication compliance officer visits the patient home delivers a monthly
								medication
								along with patient education and checks the vitals while holding patient accountable
							</p>
							</p>
						</div>
					</div>
				</div>
			</div>





		</div>

	</div>

</div>
<!-- End Facilities -->










<!-- Start Contact -->
<div id="contact" class="contact-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title-box">
					<h2>GET IN TOUCH</h2>
					<p>Contact us for any queries. </p>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-lg-12 col-xs-12">
				<div class="contact-block">
					<form id="contactForm">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name"
										placeholder="Your Name" required data-error="Please enter your name">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" placeholder="Your Email" id="email" class="form-control"
										name="name" required data-error="Please enter your email">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" placeholder="Your number" id="number" class="form-control"
										name="number" required data-error="Please enter your number">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea class="form-control" id="message" placeholder="Your Message" rows="8"
										data-error="Write your message" required></textarea>
									<div class="help-block with-errors"></div>
								</div>
								<div class="submit-button text-center">
									<button class="btn btn-common" id="submit" type="submit">Send Message</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>


			<div class="col-lg-12 col-xs-12">
				<div class="left-contact">
					<h2>Address</h2>
					<div class="media cont-line">
						<div class="media-left icon-b">
							<i class="fa fa-location-arrow" aria-hidden="true"></i>
						</div>
						<div class="media-body dit-right">

							<h4>Address</h4>
							<p>Okhla, New Delhi South, 110025</p>
						</div>
					</div>
					<div class="media cont-line">
						<div class="media-left icon-b">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="media-body dit-right">
							<h4>Email</h4>
							<a href="#">info@aj-healthcare.com</a><br>
						</div>
					</div>
					<div class="media cont-line">
						<div class="media-left icon-b">
							<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
						</div>
						<div class="media-body dit-right">
							<h4>Phone Number</h4>
							<a href="#">+917051239885 </a><br>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- End Contact -->

{% endblock %}
